body
{
    margin: 0 auto;
    font-family: 'roboto';
    /* background-color: #262E39; */
    /* background-color: #ffffff; */
    background-color: #f7f7f7;
}

.cursor
{
    width: 10px;
    height: 10px;

    background-color: blue;
    border-radius: 100%;
    position: fixed;
    opacity: 1;
    pointer-events: none;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* transition: transform .5s ease, opacity 1s ease; */
}

.navigation
{
    width: 200px;
    height: 120vh;
    font-size: 16px;
    /* color: white; */
    color: black;
    display: inline-block;
    float: left;
    position: fixed;
    background-color: #ffffff;
}

.categories
{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.categories li
{
    margin: 20px;
    list-style: none;
    transition: transform .1s ease;
}

.return 
{
    margin: 20px;
    cursor: pointer;
}

.grid
{
    width: 60vw;
    height: 500px;
    /* background: red; */
    position: relative;
    /* margin: 0 auto; */
    display: inline-block;
    margin-bottom: 30px;
    /* transition: transform 1s ease; */
    perspective: 800px;
    margin-left: 260px;
    margin-top: 30px;
}

@media (max-width: 900px)
{
    .grid{
        width: 90vw;
    }
}
.layout
{
    /* width: 300px; */
    /* height: 200px; */
    /* background-color: blue; */
    position: absolute;
    transition: opacity 5s ease;
    font-family: 'roboto';
    font-weight: bold;
    font-size: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: top left;
    perspective: 800px;
    opacity: 0;
    visibility: hidden;

}

.layout__project
{
    height: 100%;
    width: 100%;
    border-radius: 6px;

    transition: transform .1s ease, opacity .1s ease;
    overflow: hidden;
    z-index: 2;
    position: relative;
    cursor: pointer;
    transform-origin: bottom;
    background-color: rgb(243, 243, 243);
    /* background-color: #1E2126; */
}

.layout h3
{
    display: inline;
    color: white;
    /* width: 0px; */
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    left: 50%;
    bottom: 0%;
    z-index: 3;
    transform: translate(-50%, 100%) scale(.8);
    visibility: visible;
    opacity: 0;
    transition: transform .1s ease, opacity .1s ease;
}

.layout__bright
{
    width: 220%;
    height: 220%;

    /* background: linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 80%); */
    background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 80%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 1;
    transition: transform 0s linear, opacity .3s ease;
}

.layout__shadow
{
    width: 90%;
    height: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* box-shadow: 0px 30px 30px rgba(255, 255, 255, .2); */
    box-shadow: 0px 30px 30px rgba(0, 0, 0, .2);
    opacity: 0;
    visibility: visible;
    transition: opacity .1s ease
}

.layout img
{
    width: 100%;
    height: 100%;

    object-fit: cover;
    opacity: 0;
    transition: opacity .3s ease;
}

.line
{
    width: 100%;
    height: 160px;
    position: absolute;

    will-change: transform;
}

.scrollbar 
{
    width: 100px;
    height: calc(100vh - 60px);
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: fixed;
    right: 0;
    top: 0;

    /* background: orange; */

    overflow: hidden;
}

.scrollbar__list
{
    /* background-color: green; */
}

.scrollbar__list li
{
    padding: 5px 0px 5px 0px;
    white-space: nowrap;
    transform-origin: left;
    font-weight: bold;
}

.scrollbar__tab
{
    overflow: hidden;
}