body
{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid
{
    width: 80vw;
    height: 500px;
    /* background: red; */
    position: relative;
    margin-top: 100px;
}
.layout
{
    /* width: 300px; */
    /* height: 200px; */
    background-color: blue;
    position: absolute;
    transition: all .5s ease;
    font-family: 'roboto';
    font-weight: bold;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: top left;
}